<!DOCTYPE html>
<html>

<head>

    <title>EMployees</title>

    <link href="~/css/style.css" rel="stylesheet" />
    <style>

        .btn1 {
            float: right;
        }

        @@media (max-width:767px) {
            .btn1 {
                margin-left: 0px;
                justify-content: right;
                float: right
            }
        }
    </style>
</head>

<body class="theme-red">
    <section class="content">
        <div class="container-fluid">

            <!-- Advanced Form Example With Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Employee Details</h2>
                        
                        </div>
                        <div class="body">
                            <form id="wizard_with_validation" method="POST">
                                @*TAB ONE*@
                                <h3>Personal Information</h3>
                                <fieldset>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Card No</h2>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="cardNo" type="text" placeholder="CardNo" class="form-control" name="cardno" required>
                                            
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Employee Name</h2>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                                <input id="employeeName" type="text" placeholder="EmployeeName" class="form-control" name="employeename" required>
                                           
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Department</h2>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                                <select id="Department" class="form-control mt-3" required>
                                                   
                                                </select>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Designation</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <select id="Designation" class="form-control mt-3" required>
                                                  
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Shift</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <select id="Shift" class="form-control mt-3" required>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                  @*  <div class="col-sm-3">
                                        <h2 class="card-inside-title">Roster</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <select id="Roster" class="form-control mt-3" required>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Short Name</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="shortName" type="text" placeholder="ShortName" class="form-control" name="shortname" required>
                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Probation Period</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="probationPeriod" type="number" placeholder="ProbationPeriod" class="form-control" name="probationperiod" required>
                         
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">BarCode</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="barCode" type="number" placeholder="BarCode" class="form-control" name="barcode">
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        
                                        <div class="form-group form-float">
                                            
                                                <input id="deactived" name="deactived" type="checkbox">
                                            <label for="deactived" class="card-inside-title">Deactived</label>
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-3">

                                        <div class="form-group form-float">

                                            <input id="permanent" name="permanent" type="checkbox">
                                            <label for="permanent" class="card-inside-title">Permanent</label>

                                        </div>
                                    </div>
                                </fieldset>

                                @*TAB TWO *@
                                <h3>General Information</h3>
                                <fieldset>
                                    <div class="col-md-12">
                                    <div class="col-sm-3">
                                        <select id="relationName" class="form-control mt-2" required>
                                                <option value="0">--Select Relation--</option>
                                                <option value="1">Father Name</option>
                                            <option value="2">Husband Name</option>
                                        </select>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="relation" type="text" class="form-control" placeholder="Relation Name" name="relation" required>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Gender</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <select id="Gender" class="form-control mt-3" required>
                                                        <option value="0">--Select Gender--</option>
                                                        <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Mobile No</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="mobileNo" type="number" maxlength="11" placeholder="03212222222" class="form-control" name="mobileno" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">Tel No</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="telNo" type="number" maxlength="11" placeholder="0212222222" class="form-control" name="telno">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-12">
                                    <div class="col-sm-3">
                                        <h2 class="card-inside-title">CNIC</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="cnic" type="number" placeholder="4230122222222" maxlength="13" class="form-control" name="cnic" required>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">CNIC ExpDate</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <div class="form-line" id="bs_datepicker_container">
                                                        <input type="text" id="cnicExpDate" class="form-control" placeholder="CNIC ExpDate...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Religion</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="religion" class="form-control mt-3" required>
                                                        <option value="0">--Select Religion--</option>
                                                        <option value="1">Muslim</option>
                                                        <option value="2">Non-Muslim</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Marital Status</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="maritalStatus" class="form-control mt-3" required>
                                                        <option value="0">--Select Status--</option>
                                                        <option value="1">Married</option>
                                                        <option value="2">UnMarried</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-md-12">
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">IdentMark</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="identMark" type="text" placeholder="IdentMark" class="form-control" name="identmark">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Blood Group</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="BloodGroup" class="form-control mt-3">
                                                     
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Date Of Joining</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <div class="form-line" id="bs_datepicker_container">
                                                        <input type="text" id="dateofJoining" class="form-control" placeholder="Date of Joining...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Date Of Confirm</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <div class="form-line" id="bs_datepicker_container">
                                                        <input type="text" id="dateofConfirm" class="form-control" placeholder="Date of Confirm...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                   <div class="col-md-12">
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Date Of Birth</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <div class="form-line" id="bs_datepicker_container">
                                                        <input type="text" id="dateofBirth" class="form-control" placeholder="Date of Birth...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Date Of Leaving</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <div class="form-line" id="bs_datepicker_container">
                                                        <input type="text" id="dateofLeaving" class="form-control" placeholder="Date of Leaving...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h2 class="card-inside-title">Left Reason</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="leftReason" type="text" placeholder="LeftReason" class="form-control" name="leftreason">
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-md-12">
                                        <h2 class="card-inside-title">Present Address</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="presentAddtess" type="text" placeholder="PresentAddress" class="form-control" name="presentaddress">
                                            </div>
                                        </div>
                                   </div>
                                    <div class="col-md-12">
                                        <h2 class="card-inside-title">Permanent Address</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="permanentAddress" type="text" placeholder="PermanentAddress" class="form-control" name="permanentaddress">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                @*TAB THREE *@
                                <h3>Salary Breakup</h3>
                                <fieldset>
                                   <div class="col-md-12">
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">NTN</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="ntn" type="text" placeholder="NTN" class="form-control" name="ntn">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Salary</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="salary" type="number" placeholder="Salary" class="form-control" name="salary" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Income Tax</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="incomeTax" type="number" placeholder="IncomeTax" class="form-control" name="incometax">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Duty Hours</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="dutyHours" type="number" placeholder="DutyHours" class="form-control" name="dutyhours" required>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-md-12">
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Bank Name</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select id="Bank" class="form-control mt-3" required>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">Bank Account</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="bankAccount" type="number" placeholder="BankAccount" class="form-control" name="bankaccount" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">

                                            <div class="form-group form-float">

                                                <input id="DSalTab" name="DSalTab" type="checkbox">
                                                <label for="DSalTab" class="card-inside-title">DSalTab</label>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">

                                            <div class="form-group form-float">

                                                <input id="AppliedSassi" name="AppliedSassi" type="checkbox">
                                                <label for="AppliedSassi" class="card-inside-title">AppliedSassi</label>

                                            </div>
                                        </div>
                                   </div>
                                </fieldset>

                                @*TAB FOUR *@
                                <h3>Qualification</h3>
                                <fieldset>
                                    <div class="col-md-12">
                                        <h2 class="card-inside-title">Qualification</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="qualification" type="text" placeholder="Qualification" class="form-control" name="qualification" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="card-inside-title">Experience</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="experience" type="text" placeholder="Experience" class="form-control" name="experience" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="card-inside-title">Remarks</h2>
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="remarks" type="text" placeholder="Remarks" class="form-control" name="remarks" required>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                                @*TAB FIVE *@
                                <h3>Extra - Finish</h3>
                                <fieldset>
                                  <div class="col-md-12">
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">EOBINo</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="eobiNo" type="text" placeholder="EOBINo" class="form-control" name="EOBINo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">EmpEOBIContribute</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="empEobiContribute" type="number" placeholder="EmpEOBIContribute" class="form-control" name="EmpEOBIContribute">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">HosptialEOBI</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="hosptialEobi" type="number" placeholder="HosptialEOBI" class="form-control" name="HosptialEOBI">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2 class="card-inside-title">KMH_Discount</h2>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="kmhDiscount" type="number" placeholder="KMH_Discount" class="form-control" name="KMH_Discount">
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </fieldset>
                               
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Advanced Form Example With Validation -->
        </div>
    </section>


 @*   <script>
        $(document).ready(function () {
            //Advanced form with validation
            //Advanced form with validation
           
        });

     

    </script>*@

    <!-- JQuery Steps Plugin Js -->
    <script src="~/plugins/jquery-steps/jquery.steps.js"></script>
    <script src="~/vendor/js/employees.js"></script>
</body>
</html>