

<!DOCTYPE html>
<html>

<head>
    
    <link href="~/css/style.css" rel="stylesheet" />
    <style>

        .btn1 {
            float: right;
        }
        @@media (max-width:767px)
        {
        .btn1{
           margin-left:0px;
           justify-content:right;
           float:right
        }
        }
    </style>
</head>

<body>
  
    <section class="content">
    
        <div class="container-fluid">
            <div class="block-header">
                <h2>Employee</h2>
            </div>
            <!-- Input -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divInput" style="display:none">
                  
                      
                   
                    <div class="card">
                        <div class="col-md-12">
                            <button type="button" id="btnClose" class="btn btn-danger btn1"><i class="material-icons">close</i></button>
                        </div>
                        <div class="body">
                            
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">First Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="firstName" class="form-control" placeholder="First Name" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Last Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="lastName" class="form-control" placeholder="Last Name" required/>
                                        </div>
                                    </div>
                                </div>
                         
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Department</h2>
                                     <div class="form-group">
                                        <div class="form-line">

                                            <select id="Deparment" class="form-control mt-3">
                                            </select>
                                        </div>
                                        </div>
                                </div>

                             
                                
                                    <div class="col-sm-3">
                                    <h2 class="card-inside-title">Designation</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                        <select id="Designation" class="form-control mt-3">
                                           
                                        </select>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Joining Date</h2>
                                    <div class="form-group">
                                        <div class="form-line" id="bs_datepicker_container">
                                            <input type="text" id="joiningDate" class="form-control" placeholder="Joining date...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Relieving Date</h2>
                                    <div class="form-group">
                                        <div class="form-line" id="bs_datepicker_container">
                                            <input type="text" id="relievingDate" class="form-control" placeholder="Relieving date...">
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Date Of Birth</h2>
                                    <div class="form-group">
                                        <div class="form-line" id="bs_datepicker_container">
                                            <input type="text" id="dateOfBirth" class="form-control" placeholder="Date Of Birth...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Salary</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="number" id="salary" class="form-control" placeholder="Salary" />
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-sm-3">
                                    <h2 class="card-inside-title">Email Address</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="email" id="emailAddress" class="form-control" placeholder="Email Address" required/>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-sm-3">
                                    <h2 class="card-inside-title">Phone No1</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="phoneNo1" class="form-control" placeholder="Phone No1" />
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-sm-3">
                                    <h2 class="card-inside-title">Phone No2</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="phoneNo2" class="form-control" placeholder="Phone No2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Last Company Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="lastCompanyName" class="form-control" placeholder="Last Company Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h2 class="card-inside-title">Address</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="address" class="form-control" placeholder="Address" />
                                            
                                            
                                        </div>
                                        <br />
                                        <button type="button" id="btnUpdate" class="btn btn-success  btn1" style="display:none"><i class="material-icons">update</i></button>
                                        <div id="btnSave"></div>
                                        <button type="button" id="btnClear" class="btn btn1"><i class="material-icons">brush</i></button>
                                        
                                        
                                        <div class="button-demo"  style="margin-left:1020px">
                                            
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Input -->
            <!-- Textarea -->
                </div>
            </div>

            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <button type="button" id="btnAdd" class="btn btn-primary"><i class="material-icons">person_add</i></button>
                            <ul class="header-dropdown m-r--5">

                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        
                                    </a>
                                
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="tblEmployee" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>DeparmentName</th>
                                            <th>DesignationName</th>
                                            <th>JoiningDate</th>
                                            <th>DateOfBirth</th>
                                            <th>Salary</th>
                                            <th>Email</th>
                                            <th>PhoneNo</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                  
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
           
       </div>
       
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="~/vendor/js/employee.js"></script>
    <script src="~/vendor/js/accounts.js"></script>
    
</body>
</html>
