

<!DOCTYPE html>
<html>

<head>

    <link href="~/css/style.css" rel="stylesheet" />
    <style>

        .btn1 {
            float: right;
        }

        @@media (max-width:767px) {
            .btn1 {
                margin-left: 0px;
                justify-content: right;
                float: right
            }
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</head>

<body>

    <section class="content">

        <div class="container-fluid">
            <div class="block-header">
                <h2>Users</h2>
            </div>
            <!-- Input -->
            <div id="inputfiled" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divInput" style="display:none">
                    <div class="card">
                        <div class="col-md-12">
                            <button type="button" id="btnClose" class="btn btn-danger btn1"><i class="material-icons">close</i></button>
                        </div>
                        <div class="body">

                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Employee Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">

                                            <select id="Employee" class="form-control mt-3" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Department Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">

                                            <select id="Department" class="form-control mt-3" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">First Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="firstName" class="form-control" placeholder="First Name"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Last Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="lastName" class="form-control" placeholder="Last Name"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">User Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="userName" class="form-control" placeholder="User Name" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Password</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="password" id="password" class="form-control" placeholder="Password" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Role Name</h2>
                                    <div class="form-group">
                                        <div class="form-line">

                                            <select id="RoleID" class="form-control mt-3" multiple>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h2 class="card-inside-title">Reason</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="reason" class="form-control" placeholder="Reason"/>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                        </div>
                                        <br />
                                        <button type="button" id="btnUpdate" class="btn btn-success  btn1" style="display:none"><i class="material-icons">update</i></button>
                                        @*<button type="button" id="btnSave" class="btn btn-success btn1"><i class="material-icons">save</i></button>*@
                                        <div  id="btnSave" ></div>
                                        <button type="button" id="btnClear" class="btn btn1"><i class="material-icons">brush</i></button>
                                        
                                        <div class="button-demo" style="margin-left:1020px">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #END# Input -->
                    <!-- Textarea -->
                </div>
            </div>

            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <button type="button" id="btnAdd" class="btn btn-primary"><i class="material-icons">person_add</i></button>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                    </a>

                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="tblUser" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                      <tr>
                                          <th>First Name</th>
                                          <th>Last Name</th>
                                            <th>User Name</th>
                                            <th>Role Name</th>
                                          <th>Action</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->

        </div>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

   @* <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>*@
 

    <script src="~/vendor/js/user.js"></script>
    <script src="~/vendor/js/accounts.js"></script>
    <script>
        $(document).ready(function () {
            $("#divInput").validate({
                rules: {
                    userName: "required"
                },
                messages: {
                    userName: "Please enter a username"
                }
            });
        });
    </script>
</body>
</html>
